.billboard {
    background: url("../img/billboard.png") no-repeat 0px -100px;;
    padding: 70px 20px 20px 20px;
    min-height: 400px;
    text-align: center;
}

.billboard > div > h2 {
    color: #fff;
    background: rgba(52, 48, 45, .5);
    display: inline-block;
    font-size: 48px;
    letter-spacing: -2px;
    padding: 0 15px;
}

.wrapper {
    padding: 0;
}
