<html
  xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
  xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
  xmlns:th="http://www.thymeleaf.org"
  layout:decorator="layouts/main">
<head>
  <title>Home</title>
</head>
<body>
<div layout:fragment="content">
  <section class="billboard">
    <div class="container">
      <h2 sec:authorize="!hasRole('ROLE_USER')">Hello, World.</h2>
      <h2 sec:authorize="hasRole('ROLE_USER')" th:text="'Hello, ' + ${#authentication.principal.name} + '.'">Hello,
        World.</h2>
    </div>
  </section>
</div>
</body>
</html>
